$widthColumnId: 10%;
$widthColumnTitle: 40%;
$widthColumnDescription: 50%;
$minHeightColumn: 82px;
$emptyHeightColumn: 56px;
$mainSidePadding: 20px;
$headerColor: #474955;
$headerColorHover: #525463;

